DHAN_API_KEY=your_api_key
DHAN_CLIENT_ID=your_client_id
DHAN_ACCESS_TOKEN=your_access_token
DHAN_REFRESH_TOKEN=your_refresh_token
DHAN_PIN=your_pin
DHAN_TOTP=YOUR_BASE32_TOTP_SECRET

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

GOOGLE_SHEETS_CREDENTIALS=client_secret.json
GOOGLE_SPREADSHEET_ID=1_hyFH_RpMXlKlCQZuDkkt-Eh0CxFtqV_zNtk-_W3KUQ
